@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quantico", sans-serif;
    /*...***change fonts if needed***....*/
}

body{
    font-weight: 400;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.navbar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: rgb(45, 41, 41);
    padding: 20px;
    height: 100px;
    top:0;
    width: 100%;
    align-items: center;
    z-index: 2;
}

.logo{
    height: 100px;
    width: 100px;
    cursor: pointer;
    transition: 0.3s;
}
.logo:hover{
    transform:scale(1.2);
    transition: 0.3s;
}

.profile-pic{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    height: 100vh;
    position: fixed;
    left: 0;
    top:17px;
}
.sidebar button{
    height:80px;
    cursor: pointer;
    border: none;
    background-color: inherit;
    transition: 0.35s;
}
.sidebar button p{
    margin-top: 10px;
}

.search-container{
    display: flex;
}
.search-btn{
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 25px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer;
    box-shadow: 3px 3px 3px inset lightgray;
}
.search-bar{
    height: 60px;
    border: none;
    min-width: 500px;
    padding: 20px;
    font-size: 15px;
    box-shadow: 3px 3px 3px inset lightgray;
    font-size: 18px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.search-bar:focus{
    outline-width: 3px;
    outline-style:groove;
    outline-color:black;
    transition: 0.25s;
}
.search-list-items{
    position: absolute;
    bottom: -10%;
    left: 34%;
    width: 500px;
    height: 30px;
    padding:10px;
}
.search-list-items p{
    color: black;
    background-color: rgb(236, 234, 234);
    height: 40px;
    padding-left: 10px;
    padding-top: 10px;
    font-family: "Roboto", sans-serif;
}
.search-list-items p:hover{
    background-color: white;
}


.sidebar button:hover{
    cursor: pointer;
    background-color: rgb(196, 195, 194);
    transition: 0.35s;
}
.search-btn:hover{
    background-color: lightgray;
    box-shadow: 5px 5px 5px inset lightgray;
}

.movie-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4,1fr);
    margin-left: 110px;
    padding: 10px;
    gap: 30px;
}
[class^="movie-card-"]{
    text-align: center;
    transition: 0.25s;
    padding: 20px;
}
[class^="movie-card-"] img{
    height: 300px;
    border-radius: 50px;
}
[class^="movie-card-"]:hover{
    transform: scale(1.05);
    cursor: pointer;
    transition: 0.25s;
    background-color: lightgray;
}


.movie-summary{
    display: flex;
    column-gap: 50px;
    padding: 20px;
    justify-content: center;
    border: 2px solid;
    background-color: lightgray;
}
.movie-poster{
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px;
}
.movie-summary-title{
    height: 50px;
    text-align: center;
    text-shadow: 1px 1px 1px 1px;
    font-size: 2rem;
    margin-top: 105px;
}
.movie-summary button{
    background-color: black;
    color: white;
    height: 40px;
    width: 80px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    padding: 5px;
    transition: 0.3s;
}
.movie-summary button:hover{
    background-color: white;
    color: black;
    transform: scale(1.2);
}
.movie-text p, .movie-text button{
    margin-top: 10px;
}

